/* .v-loading {
    max-height: 90%;
    transform: scale(1);
    border-radius: var(--p-dialog-border-radius);
    box-shadow: none !important;
    background: none !important;
    border: none !important;
    color: var(--p-dialog-color);
} */

.v-loading{
    padding: 1.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.backdrop-blur-sm{
    --un-backdrop-blur: blur(0.6px) !important;
}